<?xml version="1.0" encoding="UTF-8"?>
<ZusiEnvironment dataDir="../">
    <Fahrplan generateAt="../out/my-fahrplan.fpn" generateFrom="./my-fahrplan.fpn">
        <Zug nummer="20000" gattung="RB">
            <MetaData path="./meta-data.trn"/>
            <Route>
                <RoutePart>
                    <TrainFileByPath path="./route-part-1.trn"/>
                    <TimeFix type="StartAbf" value="2023-06-20 08:41:40"/>
                </RoutePart>
                <RoutePart>
                    <TrainFileByPath path="./route-part-2.trn"/>
                    <ApplySchedule path="./route-part-1-2.schedule.xml"/>
                </RoutePart>
            </Route>
            <RollingStock path="./rolling-stock-a.trn"/>
            <CopyDelay>
                <CopyDelayTask delay="06:00:00" count="1" increment="6"/>
                <CopyDelayTask delay="02:00:00" count="2" increment="2">
                    <RollingStock path="./rolling-stock-b.trn"/>
                </CopyDelayTask>
            </CopyDelay>
        </Zug>
    </Fahrplan>
</ZusiEnvironment>